{% extends 'blog/base.html' %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p id="publ">Опубликовано: {{ post.published_date }}</p>
                    </div>
                    <h1 id="post_title"><a href="#">{{ post.title }}</a></h1>
                    <p id="some_text">{{ post.text|linebreaksbr }}</p>
                <br>
                <br>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}